@font-face {
    font-family: 'Gill Sans';
    src: url('../assets/fonts/GillSans-Light.eot');
    src: url('../assets/fonts/GillSans-Light.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/GillSans-Light.woff2') format('woff2'),
        url('../assets/fonts/GillSans-Light.woff') format('woff'),
        url('../assets/fonts/GillSans-Light.ttf') format('truetype'),
        url('../assets/fonts/GillSans-Light.svg#GillSans-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Futura';
    src: url('../assets/fonts/FuturaBT-Medium.eot');
    src: url('../assets/fonts/FuturaBT-Medium.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/FuturaBT-Medium.woff2') format('woff2'),
        url('../assets/fonts/FuturaBT-Medium.woff') format('woff'),
        url('../assets/fonts/FuturaBT-Medium.ttf') format('truetype'),
        url('../assets/fonts/FuturaBT-Medium.svg#FuturaBT-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gill Sans';
    src: url('../assets/fonts/GillSans.eot');
    src: url('../assets/fonts/GillSans.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/GillSans.woff2') format('woff2'),
        url('../assets/fonts/GillSans.woff') format('woff'),
        url('../assets/fonts/GillSans.ttf') format('truetype'),
        url('../assets/fonts/GillSans.svg#GillSans') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Condensed';
    src: url('../assets/fonts/ProximaNovaCond-Semibold.eot');
    src: url('../assets/fonts/ProximaNovaCond-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/ProximaNovaCond-Semibold.woff2') format('woff2'),
        url('../assets/fonts/ProximaNovaCond-Semibold.woff') format('woff'),
        url('../assets/fonts/ProximaNovaCond-Semibold.ttf') format('truetype'),
        url('../assets/fonts/ProximaNovaCond-Semibold.svg#ProximaNovaCond-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Extra Condensed';
    src: url('../assets/fonts/ProximaNovaExCn-Light.eot');
    src: url('../assets/fonts/ProximaNovaExCn-Light.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/ProximaNovaExCn-Light.woff2') format('woff2'),
        url('../assets/fonts/ProximaNovaExCn-Light.woff') format('woff'),
        url('../assets/fonts/ProximaNovaExCn-Light.ttf') format('truetype'),
        url('../assets/fonts/ProximaNovaExCn-Light.svg#ProximaNovaExCn-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova ScOsf';
    src: url('../assets/fonts/ProximaNovaS-Semibold.eot');
    src: url('../assets/fonts/ProximaNovaS-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/ProximaNovaS-Semibold.woff2') format('woff2'),
        url('../assets/fonts/ProximaNovaS-Semibold.woff') format('woff'),
        url('../assets/fonts/ProximaNovaS-Semibold.ttf') format('truetype'),
        url('../assets/fonts/ProximaNovaS-Semibold.svg#ProximaNovaS-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova ScOsf';
    src: url('../assets/fonts/ProximaNovaSCond-Bold.eot');
    src: url('../assets/fonts/ProximaNovaSCond-Bold.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/ProximaNovaSCond-Bold.woff2') format('woff2'),
        url('../assets/fonts/ProximaNovaSCond-Bold.woff') format('woff'),
        url('../assets/fonts/ProximaNovaSCond-Bold.ttf') format('truetype'),
        url('../assets/fonts/ProximaNovaSCond-Bold.svg#ProximaNovaSCond-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}
@charset "UTF-8";
*, ::before, ::after {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
    font-family:'Gill Sans',"Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
    margin: 0;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -webkit-transform: translate3d(0, 0, 0);
    color:#152332;
    background-color:#FFFFFF;
    font-weight:normal;
    transform: none!important;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: 'liga', 'kern';
    overflow-x:hidden;
    letter-spacing: .025em;
}
.proxCondensed{
  font-family: 'Proxima Nova Condensed', sans-serif;
}
.proxExtraCondensed {
    font-family: 'Proxima Nova Extra Condensed', sans-serif;
}
.proxSc{
    font-family:'Proxima Nova ScOsf',sans-serif;
}
.futura{
    font-family:'Futura',sans-serif;
}
a{
    cursor: pointer;
}
button {
    -webkit-appearance: none;
}
.btn{
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    line-height: 1;
    width: auto;
    background-color: transparent;
    min-width: initial;
    padding: 0 18px;
    font-size: 14.5px;
    letter-spacing: .08em;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    display: inline-block;
    border-radius: 4px;
    height: 44px;
    text-transform: uppercase;
    width: auto;
    transition: all .15s cubic-bezier(.25,1,.25,1);
    text-align: center;
    font-family: 'Futura', sans-serif;
}
div{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
p, h1, h2, h3, h4, h5, h6, span {
    margin: 0;
    -webkit-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
    user-select: auto;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
ul.header_tab_list {
    vertical-align: top;
    width: auto;
    margin-top: 2px;
    margin-bottom: 2px;
}
ul.header_tab_list > li {
    display: inline-block;
    margin-top: 0;
    margin-right: 2px;
    vertical-align: top;
}
.width100 {
    width: 100% !important;
}
blockquote {
    margin: 0;
}
icon.icon {
    background-size: contain;
    display: block;
    background-repeat: no-repeat;
    position: relative;
    background-position: center center;
}
a{
    transition: transform 100ms cubic-bezier(0,.7,.5,1);
    text-decoration: none;
}
.pageWrapper {
    min-height: calc(100vh - 60px);
    overflow: hidden;
}

.contentWidthPrimary {
    max-width: 1240px;
    margin: 0 auto;
    width: calc(100% - 110px);
}

.pull_left {
    float: left;
}
#width70 {
    width: 70%;
}
button {
    -webkit-appearance: none !important;
} 

/*//////////////////////////////*/
/*//////////////////////////////*/
/*///////// HEADER CSS /////////*/
/*//////////////////////////////*/
/*//////////////////////////////*/
header.primaryHeader {
    position: fixed;
    height: 60px;
    left: 0px;
    top: 0px;
    right: 0px;
    box-shadow: 1px 1px 5px -2px #7f7f7f;
    width: 100%;
    background: #fff;
    z-index: 999;
}


header.primaryHeader > .contentWidthPrimary {}

header.primaryHeader > .contentWidthPrimary:after {
    clear: both;
    content: '';
    display: table;
}
ul.header_tab_list > li > a:active {
    -webkit-transform: scale(.97);
    transform: scale(.97);
}
header.primaryHeader > .contentWidthPrimary:before {content: '';clear: both;}
a.headerLogoWrapper {
    display: block;
    width: 200px;
}

a.headerLogoWrapper > img {
    width: 100%;
    margin-top: 18px;
}

header.primaryHeader .pull_right {
    float: right;
    display: block;
}

ul.header_tab_list > li > a {
    background: #f1f1f2;
    display: block;
    font-size: 12.5px;
    height: 56px;
    padding: 20px 22px;
    letter-spacing: .08em;
    vertical-align: top;
    text-transform: uppercase;
    font-size: 12.5px;
}

ul.header_tab_list > li > a h4 {
    color:#152231;
}

a.header_tab.header_tab_green.header_tab_primary {
    background: #5da87b;
    color: #FFFFFF;
    margin-left: 0px;
    padding-top: 21px;
}
a.header_tab {
    position: relative;
}
a.header_tab.header_tab_navy {
    background: #152231;
}

a.header_tab.header_tab_navy > icon {
    display: block;
    width: 20px;
    height: 26px;
    margin-top: -4px;
}

ul.header_tab_list > li > a.header_tab.header_tab_gray {
    padding-top: 21px;
}

a.header_tab.header_tab_green.header_tab_primary > h4 {
    font-size: 12.5px;
}

a.header_tab.header_tab_green.header_tab_primary:hover {
    background: #6dca92;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #0c131c;
    min-width: 280px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding-bottom: 0;
    margin-left: -80px;
    z-index: 10;
    text-align: center;
}
.dropdown-content::after {
    content: url('/content/frontend/assets/img/dropArrow.png');
    position: absolute;
    z-index: 9;
    left:0;
    right:0;
    text-align: center;
    top:-6px;
}
.dropdown-content a,
.dropdown-content p {
    color: #fff;
    padding: 8px 30px 20px;
    text-decoration: none;
    display: block;
    text-transform: uppercase;
    font-family: 'Proxima Nova Condensed';
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 0.05em;
    z-index: 11;
    position: relative;
}
.dropdown-content a:first-child,
.dropdown-content a {
    padding-top: 24px;
}
.dropdown-content a:hover {
    background-color: #f1f1f1;
    color:#0c131c;
}
.dropdown-content a.joinBtn:hover {
    background: transparent;
}
.dropdown-content a button {
    font-family: 'Proxima Nova ScOsf';
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    width: 120px;
    margin: 0 auto;
    height: 35px;
    padding: 10px;
    border: 0;
    letter-spacing: 0.05em;
    font-size: 14px;
    text-transform: uppercase;
    background-color: #5da87b;
    color: #fff;
    display: block;
}
.dropdown-content input[type="text"] {
    margin-top: 2px;
    padding: 5px;
    border-radius: 3px;
    border: 0;
    width: 150px;
}
.dropdown-content input[type="submit"] {
    font-family: 'Proxima Nova ScOsf';
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    width: 120px;
    height: 35px;
    padding: 10px;
    border: 0;
    letter-spacing: 0.05em;
    font-size: 14px;
    text-transform: uppercase;
    background-color: #5da87b;
    color: #fff;
    display: block;
    float: left;
}
.dropdown-content input[type="submit"]:hover {
    cursor: pointer;
}
.dropdown-content a button:hover {
    cursor: pointer;
}
li.has-dropdown:hover > .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
li.has-mobile-dropdown > a {
    padding-right: 40px !important;
}
li.has-mobile-dropdown {
    position: relative;
}
li.has-mobile-dropdown:after {
    position: absolute;
    z-index: 99;
    top:11px;
    right: 11px;
    content: url('/content/frontend/assets/img/down-arrow.png');
}

/*//////////////////////////////*/
/*//////////////////////////////*/
/*///////// FOOTER CSS /////////*/
/*//////////////////////////////*/
/*//////////////////////////////*/
footer.primaryFooter {
    border-top: 1px solid #f1f1f2;
    padding-top: 15px;
    padding-bottom: 15px;
    position: relative;
    min-height: 192px;
}

.contentWidthExtreme {
    width: calc(100% - 50px);
    margin: 0 auto;
}

.abs_trans_center {
    position: absolute;
    left: 50%;
    top: 50%;
    -o-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.pull_right {
    float: right;
}
.header_tab_list {
    display: block !important;
}

footer.primaryFooter .contentWidthExtreme {}

footer.primaryFooter .contentWidthExtreme:after {
    clear: both;
    content: '';
    display: table;
}

footer.primaryFooter .contentWidthExtreme:before {content: '';clear: both;}

footer.primaryFooter a.footerLogo {
    display: block;
    width: 123px;
    height: 70px;
}

footer.primaryFooter a.footerLogo > img {
    width: 100%;
}

footer.primaryFooter .contentWidthExtreme .pull_left {
    padding-top: 50px;
}

footer.primaryFooter .contentWidthExtreme .pull_right {}

footer.primaryFooter .contentWidthExtreme .pull_right .legal {
    padding-top: 50px;
    margin-right: 150px;
}

footer.primaryFooter .contentWidthExtreme .pull_right .legal > p,footer.primaryFooter .contentWidthExtreme .pull_right .legal > a {
    display: block;
}

footer.primaryFooter .contentWidthExtreme .pull_right .social.socialIconsStacked {
    width: 60px;
    position: absolute;
    display: block;
    right: 0;
    top: 15px;
    bottom: 0;
}

.social.socialIconsStacked a {
    width: 39px;
    display: block;
    height: 40px;
    margin-right: 0;
    margin-left: auto;
    margin-bottom: 5px;
}

.social.socialIconsStacked a > icon {
    width: 70%;
    height: 70%;
}

footer .contentWidthExtreme .pull_left p {
    margin-bottom: 5px;
    font-weight: 600;
}

footer .contentWidthExtreme .pull_left p a {
    color: #548fcd;
}

p.sub_links_contained span {
    font-weight: 100;
}
footer.primaryFooter .contentWidthExtreme .pull_right .legal p,footer.primaryFooter .contentWidthExtreme .pull_right .legal a {
    margin-bottom: 5px;
    font-weight: 600;
}

footer.primaryFooter .contentWidthExtreme .pull_right .legal a {
    font-weight: 600;
    color: #548fcd;
}


/*//////////////////////////////*/
/*//////////////////////////////*/
/*////// LANDING SECTION //////*/
/*//////////////////////////////*/
/*//////////////////////////////*/

.landingWrapper {
    background-size: cover;
    background-position: center top;
    width:100%;
    /*height: 100vh;*/
    /*position: relative;*/
    /*z-index: 999;*/
    padding-top: 15px;
    height: 95vh;
    position: relative;
    z-index: 998;
    margin-top: 60px;
}
.splash-logo {
    position: relative;
    margin-top: 30px;
    margin-bottom: 120px;
    width: 100%;
    text-align: center;
}
.splash-logo img {
    height:180px; 
}
.splash-title {
    padding-top: 10px;
}
.splash-title h1 {
    font-family: 'Proxima Nova Extra Condensed';
    letter-spacing: 1px;
    font-size: 38px;
}
.splash-title h1 span{
    background-color: rgba(255, 255, 255, 0.75);
    padding: 10px;
    box-shadow: 0px 0px 50px rgba(21, 34, 49, 0.25);
}
.landing-title {
    position: absolute;
    top:10%;
    left:10%;
    text-align: center;
}
.landing-title h1 {
    font-family: 'Gill Sans';
    font-weight: bold;
    letter-spacing: 0.075em;
    font-size: 60px;
    color: #fff;
    text-transform: uppercase;
}
.landing-subtitle {
    position: absolute;
    top:51%;
    left:42%;
    right:0;
    text-align: center;
}
.landing-subtitle h2 {
    font-family: 'Gill Sans';
    font-weight: 300;
    letter-spacing: 0.075em;
    font-size: 48px;
    color: #152231;
    font-weight: bold;
     text-transform: uppercase;
}
.landing-latest {
    position: relative;
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}
.landing-latest-title {
    position: relative;
    border-bottom: 1px solid #fff;
}
.landing-latest-title h2 {
    font-family: 'Proxima Nova Condensed';
    font-weight: 600;
    font-style: italic;
    text-transform: uppercase;
    font-size: 40px;
    color: #fff;
    padding-bottom: 10px;
    margin-bottom: -9px;
    text-shadow: 0px 0px 50px rgba(22, 34, 49, 1);
    background-color: rgba(22, 34, 49, 0.5);
    padding:5px;
}
.latest-blog-post {
    width: 30.7%;
    min-width: 295px;
    height: 130px;
    background-color: rgba(19, 30, 43, 1);
    border-radius: 5px;
    padding-left: 20px;
    margin-top: 40px;
    padding-top: 1px;
    overflow: hidden;
    padding-top: 10px;
    float: left;
    margin-left: 1.3%;
    margin-right: 1.3%;
    outline:0;
}
.latest-blog-post .date {
    color:#fff;
    float: left;
    width: 50px !important;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 5px;
    margin-right: 20px;
}
.latest-blog-post .date h6 {
    font-family: 'Gill Sans';
    font-weight: 300;
    font-size: 12px;
    margin-top:10px;
    margin-bottom: 10px;
    line-height: 1.3em;
}
.latest-blog-post-snippet {
    color:#fff;
    float: left;
    width: 200px !important;
}
.latest-blog-post-snippet p {
        font-family: 'Gill Sans';
    font-weight: 300;
    font-size: 17px;
    line-height: 1.2em;
    margin-top: 5px;
}
.scroll-div {
    position: absolute;
    left: 0;
    right: 0;
    bottom:5%;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.scroll-div img {
    height: 60px;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}

/*//////////////////////////////*/
/*//////////////////////////////*/
/*//////// HERO SECTION ////////*/
/*//////////////////////////////*/
/*//////////////////////////////*/
.homeHeroWrapper {
    overflow: hidden;
    margin-top: 61px;
}
.homeHero {
    width: 55%;
    height: 720px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    float: left;
    width: 75%;
    text-align: right;
}
img.heroOverlay {
    width: 50%;
    height: 100%;
}
.heroText {
    float: left;
    width: 40%;
    margin-left: -18%;
    padding-top:90px;
    background-image: url(img/heroOverlay.png);
}
.heroText a {
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #548fcd;
}
.heroText h1 {
    font-family: 'Gill Sans';
    font-weight: 300;
    font-size: 58px;
    letter-spacing: 0.05em;
    line-height: 1em;
    padding-bottom: 20px;
}
.heroText p {
    width: 100%;
    font-size:19px;
    font-weight: normal;
    line-height: 1.8em;
}
.homeHeroWrapper button{
    position: relative;
    z-index: 999;
    width: 250px !important;
    height: 60px !important;
    font-size: 16px !important;
    line-height: 1.4em !important;
}

/*//////////////////////////////*/
/*//////////////////////////////*/
/*/////// PURSUIT SECTION //////*/
/*//////////////////////////////*/
/*//////////////////////////////*/
.pursuitContainer{
    margin-top: 1px;
    width: 100%;
    height: 600px;
    padding: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    overflow: hidden;
    position: relative; 
}
.pursuitLeft {
    float: left;
    width: 50%;
    margin-right: 5%;
    padding-left: 20px;
}
.pursuitLeft .innerFloatLeft {
    display: inline-block;
    vertical-align: top;
    width: 20%;
}
.pursuitLeft .innerFloatRight {
    display: inline-block;
    vertical-align: top;
    width: 75%;
}
.pursuitLeft .innerFloatRight h1 {
    font-weight: 400;
}
.pursuitLeft h3 {

    font-size: 36px;
    font-family: 'Gill Sans';
    font-weight: 300;
    letter-spacing: 0.05em;
    margin-bottom: 25px;
}
.pursuitLeft h2 {
    font-size: 122px;
    font-family: 'Proxima Nova Extra Condensed';
    font-weight: 300;
    line-height: 0.9em;
}
.pursuitLeft p {
    font-family: 'Gill Sans';
    font-weight: 300;
    font-size:17px;
    line-height: 1.6em;
    width: 90%;
}
.pursuitRight {
    float: left;
    width:45%;
    padding-top: 15px;
    padding-left: 20px;
}
.pursuitRight h6 {
    font-family: 'Gill Sans';
    font-weight: normal;
    letter-spacing: 0.1em;
    font-size: 11px;
    text-transform: uppercase;
    margin-bottom: 20px;
    line-height: 1.4em;
}
.pursuitRight p {
    font-family: 'Gill Sans';
    font-weight: normal;
    letter-spacing: 0.04em;
    font-size: 17px;
    line-height: 1.5em;
    width: 65%;
}
.pursuitRight .subscribeForm {
    padding-top: 30px;
}
input.subscribeEmail {
    font-family: 'Gill Sans';
    font-weight: normal;
    width: 300px;
    height: 45px;
    padding: 20px;
    margin-right: 2px;
    border:0;
    border-radius: 4px;
    letter-spacing: 0.02em;
    font-size: 16px;
    color:rgba(22, 34, 49, 0.3);
    display: inline-block;
    vertical-align: top;
}
input.emailSubmit {
    font-family: 'Futura';
    font-weight: 600;
    width: 120px;
    height: 45px;
    padding: 10px;
    border:0;
    border-radius: 4px;
    letter-spacing: 0.02em;
    font-size: 18px;
    text-transform: uppercase;
    background-color: #f38361;
    color:#fff;
    display: inline-block;
    vertical-align: top;
}

.donateToUs {
    position: absolute;
    left: 0;
    right: 0;
    bottom:15px;
    text-align: center;
}

.donateToUs a button{
    font-family: 'Futura';
    font-weight: 600;
    background-color: #5da87b;
    width: 210px;
    height: 55px;
    border:3px solid #5da87b;
    border-radius: 3px;
    text-align: center;
    color:#fff;
    text-transform: uppercase;
    font-size: 26px;
    letter-spacing: 0.1em;
}
.donateToUs a button:hover {
    cursor: pointer;
}

/*//////////////////////////////*/
/*//////////////////////////////*/
/*////// CHAMPION SECTION //////*/
/*//////////////////////////////*/
/*//////////////////////////////*/
.championSection {
    width: 100%;
    height: 350px;
    padding: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    overflow: hidden;
    position: relative; 
    text-align: center;
    color:#fff;
}
.championSection img {
    height: 50px;
}
.championSection h4 {
    text-transform: uppercase;
    font-family: 'Proxima Nova Condensed';
    font-weight: 600;
    margin-top: -10px;
    margin-bottom: 10px;
    font-size: 16px;
}
.championSection h2 {
    font-family: 'Gill Sans';
    font-weight: 300;
    font-size: 56px;
    letter-spacing: 0.05em;
    background-color: rgba(22, 34, 49, 0.5);
}

/*//////////////////////////////*/
/*//////////////////////////////*/
/*///// CONTENT INNER PAGES ////*/
/*//////////////////////////////*/
/*//////////////////////////////*/

.contentContainer {
    width: 100%;
    padding-top: 60px;
}
.contentWrapper {
    padding-top: 50px;
    width: 90%;
    margin:0 auto;
}
.contentHeader {
    background-color: #f1f1f2;
    overflow: hidden;
    position: relative;
    margin-bottom: 5px;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    padding-bottom: 50px;
    height: 1000px;
    overflow-y: scroll;
}
.contentHeader::-webkit-scrollbar { 
    display: none; 
}
img.eqCircleLeft {
    position: absolute;
    height: 70%;
    top:40px;
    left:0;
    margin-left: -12px;
}
.contentHeaderText {
    float: left;
    width: 55%;
    padding: 25px 35px;
}
.contentHeaderText h1,
.contentHeaderVisual h1 {
    color:#162231;
    font-size: 34px;
    letter-spacing: 1px;
    font-family: 'Gill Sans';
    font-weight: 400;
    padding-top: 10px;
}
.contentHeaderText img {
    width: 30px;
}
.contentHeaderText h2,
.contentHeaderText p,
.contentHeaderVisual h2,
.contentHeaderVisual p  {
    color:#162231;
    font-size: 21px !important;
    line-height: 1.2em;
    letter-spacing: 0.05em;
    font-family: 'Gill Sans' !important;
    font-weight: 300 !important;
    width: 95%;
    margin: 0 auto;
    padding-top: 10px;
}
.contentHeaderVisual {
    width: 100%;
    overflow: hidden;
    float: left;
}

/*.contentHeaderVisual img {
    width: 30%;
    z-index: 99;
    position: relative;
    float: left;
    margin-right: 5%;
    margin-bottom: 15px;
}*/
.templateHeaderVisual {
    width: 45%;
}
.templateHeaderVisual img{
    width: 100%;
}
.contentBody {
    width: 100%;
}
.contentBodyTitle {
    background-color: #f1f1f2;
    border-bottom: 1px solid #548fcd;
    margin-bottom: 10px;
    padding: 20px;
}
.contentBodyTitle h3 {
    color:#162231;
    font-size: 22px;
    letter-spacing: 0.03em;
    font-family: 'Gill Sans';
    font-weight: normal;
    padding-left: 4%;
}
.contentBodyContent p {
    color:#162231;
    font-size: 16px;
    letter-spacing: 0.04em;
    font-family: 'Gill Sans';
    font-weight: normal;
    line-height: 1.7em;
    width: 93%;
    padding-left: 2%;
    margin: 0 auto;
}
.contentBodyContent p a {
    color:#548fcd;
    border-bottom: 1px solid rgba(84, 143, 205, 0.4);
}


/*//////////////////////////////*/
/*//////////////////////////////*/
/*///////// BLOG PAGE //////////*/
/*//////////////////////////////*/
/*//////////////////////////////*/
.blogHeader {
    background-color: #f1f1f2;
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
}
.blogHeaderText {
    float: left;
    width: 40%;
    padding: 25px 35px;
}
.blogHeaderText h1 {
    color:#162231;
    font-size: 42px;
    letter-spacing: 0.075em;
    font-family: 'Gill Sans';
    font-weight: 300;
    padding-bottom: 20px;
}
.blogHeaderText img {
    width: 30px;
}
.blogHeaderText h2 {
    color:#162231;
    font-size: 20px;
    letter-spacing: 0.05em;
    font-family: 'Gill Sans';
    font-weight: 300;
    width: 90%;
    padding-top: 20px;
}
.blogHeaderText a button {
    height: 50px;
    background-color: transparent;
    border: 2px solid #162231;
    width: 130px;
    color: #162231;
    text-transform: uppercase;
    font-family: 'Futura';
    font-weight: 600;
    font-size: 17px;
    margin-top: 40px;
}
.blogHeaderText a button:hover {
    cursor: pointer;
    background-color: #162231;
    color:#fff;
}
.blogHeaderVisual {
    float: left;
    width: 60%;
}
.blogHeaderVisual img {
    width: 100%;
    z-index: 99;
    position: relative;
}
.blogBody {
    width: 100%;
    overflow: hidden;
}
.blogSidebar {
    width: 30%;
    float: left;
}
.blogBodyWrapper {
    overflow: hidden;
    width: 67%;
    margin-right: 3%;
    float: left;
}
.blogBodyTitle {
    background-color: #f1f1f2;
    border-bottom: 1px solid #548fcd;
    margin-bottom: 20px;
    padding: 20px;
}
.blogBodyTitle h3 {
    color:#162231;
    font-size: 28px;
    letter-spacing: 0.03em;
    font-family: 'Gill Sans';
    font-weight: normal;
    text-align: center;
}
.blogBlock {
    width: 47%;
    float: left;
    margin-right: 5%;
    margin-bottom: 50px;
    text-align: center;
}
.blogSpacer {
    height: 400px;
}
.blogBlock:nth-child(odd) {
    margin-right: 0;
}
.blogBlock img{
    width: 100%;
    height: 290px;
}
.blogBlock h3 {
    color:#162231;
    font-size: 28px;
    padding: 15px 0 10px;
    letter-spacing: 0.03em;
    font-family: 'Futura';
    font-weight: 500;
}
span.blogDate {
    text-transform: uppercase;
    font-family: 'Proxima Nova ScOsf',sans-serif;
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 0.01em;
}
.blogBlock p {
    padding-top: 20px;
    color:#162231;
    font-size: 15px;
    letter-spacing: 0.04em;
    font-family: 'Gill Sans';
    font-weight: 300;
    line-height: 1.3em;
    width: 95%;
    margin: 0 auto;
}
.blogBlock a button {
    height: 45px;
    background-color: #162231;
    border: 2px solid #162231;
    width: 200px;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Futura';
    font-weight: 600;
    font-size: 17px;
    margin-top: 30px;
    margin-bottom: 50px;
    border-radius: 4px;
}
.blogBlock a button:hover {
    cursor: pointer;
    background-color: transparent;
    color:#162231;
}
.blogSocial {
    width: 100%;
    overflow: hidden;
    padding:10px 10px 2px;
    border: 1px solid #162231;
}
.blogSocialComments {
    float: left;
    width: 50%;
    border-right:1px solid #162231;
}
.blogSocialComments h6 {
    font-family: 'Proxima Nova ScOsf',sans-serif;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 0.01em;
}
.blogSocialShare {
    float: none;
    width: 50%;
    margin: 0 auto;
}
.blogSocialShare a {
    display: inline-block;
    vertical-align: top;
    width: 28px;
    height: 28px;
    margin-right: 0;
    margin-left: auto;
}
.blogSocialShare  a > icon {
    width: 70%;
    height: 70%;
}
.blogSidebar > div {
    border: 1px solid rgba(22, 34, 49, 0.3);
    padding: 25px;
    margin-bottom: 30px;
}
.blogSidebar > div h4 {
    text-align: center;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(22, 34, 49, 0.3);
    margin-bottom: 25px;
    color: #162231;
    font-size: 22px;
    letter-spacing: 0.03em;
    font-family: 'Gill Sans';
    font-weight: normal;
    text-align: center;
}
a.backbtn {
    display: inline-block;
    vertical-align: middle;
}
a.backbtn button {
    background: #152231;
    font-size: 17px;
    height: 56px;
    padding: 20px 22px;
    letter-spacing: .08em;
    text-transform: uppercase;
    border: 0;
    color:#fff;
    font-family: 'Proxima Nova ScOsf',sans-serif;
}
a.backbtn button:hover {
    cursor: pointer;
}
.subscribeShare {
    text-align: center;
}
.subscribeShare a {
    display: inline-block;
    vertical-align: top;
    width: 42px;
    height: 42px;
    margin-right: 0;
    margin-left: auto;
}
.subscribeShare a > icon {
    width: 70%;
    height: 70%;
}
.catBar ul li {
    padding-bottom: 15px;
    margin-bottom: 25px;
    border-bottom: 1px solid rgba(22, 34, 49, 0.3);
    text-transform: uppercase;
    font-family: 'Proxima Nova ScOsf',sans-serif;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.01em;
}
.catBar a {
    color:#162231;
}
span.lightFont {
    font-weight: 600;
    color: rgba(22, 34, 49, 0.8);
}
.commentBar ul li {
    padding-bottom: 15px;
    margin-bottom: 25px;
    border-bottom: 1px solid rgba(22, 34, 49, 0.3);
}
.commentBar ul li h5 {
    text-transform: uppercase;
    font-family: 'Proxima Nova ScOsf',sans-serif;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.01em;
}
.commentBar ul li span {
    color: rgba(22, 34, 49, 0.5);
    font-size: 12px;
    padding: 15px 0 10px;
    letter-spacing: 0.03em;
    font-family: 'Futura';
    font-weight: 500;
}
.recentBarPost {
    overflow: hidden;
    padding-bottom: 15px;
    margin-bottom: 25px;
    border-bottom: 1px solid rgba(22, 34, 49, 0.3);
}
.barPostImage {
    float: left;
    width: 30%;
    margin-right: 4%;
}
.barPostImage img {
    width: 100%;
}
.barPostText {
    float: left;
    width: 65%;
}
.barPostText h5 {
    text-transform: uppercase;
    font-family: 'Proxima Nova ScOsf',sans-serif;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.01em;
}
.barPostText h5 a{
    color:#162231;
}
.barPostText h5 a:hover {
    text-decoration: underline;
}
.barPostText span {
    color: rgba(22, 34, 49, 0.5);
    font-size: 12px;
    padding: 15px 0 10px;
    letter-spacing: 0.03em;
    font-family: 'Futura';
    font-weight: 500;
}



/*//////////////////////////////*/
/*//////////////////////////////*/
/*///////// INNER BLOG /////////*/
/*//////////////////////////////*/
/*//////////////////////////////*/
.blogTitle {
    width: 100%;
    padding-bottom: 30px;
}
.blogTitle h1 {
    color: #162231;
    font-size: 56px;
    letter-spacing: 0.075em;
    font-family: 'Gill Sans';
    font-weight: 300;
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
}
.blogHero {
    width: 100%;
    height: 600px;
    max-height: 600px;
    background-size: cover;
    margin-bottom: 50px;
}
.innerBlogContent {
    float: left;
    width: 65%;
    margin-left: 5%;
}
.innerBlogIntro {
    padding-bottom: 20px;
}
.innerBlogIntro h4{
    color: #162231;
    font-size: 20px;
    letter-spacing: 0.05em;
    font-family: 'Gill Sans';
    font-weight: 300;
    padding-bottom: 10px;
    font-style: italic;
}
.innerBlogText p {
    color: #162231;
    font-size: 16px;
    letter-spacing: 0.04em;
    font-family: 'Gill Sans';
    font-weight: normal;
    line-height: 1.5em;
    padding-bottom: 15px;
}
.aboutAuthorText p {
    font-size: 13px;
    letter-spacing: 0.05em;
    line-height: 1.5em;
    font-family: 'Gill Sans';
    font-weight: 300;
}

/*//////////////////////////////*/
/*//////////////////////////////*/
/*///////// SECTION 02 /////////*/
/*//////////////////////////////*/
/*//////////////////////////////*/
.section-02 {
    width: 75%;
    margin: -100px auto 0;
    background: #fff;
    background-size: 30px 200px;
    background-repeat: no-repeat;
    background-position: 98% 80%;
    padding: 40px 45px;
    overflow: hidden;
    border: 2px solid #f1f1f2;
    border-bottom-width: 20px;
    border-radius: 10px;
    position: relative;
    z-index: 99;
}
.innerSectionLeft {
    float: left;
    width: 45%;
    margin-right: 5%;
    padding-left: 20px;
}
.innerSectionLeft .innerFloatLeft {
    display: inline-block;
    vertical-align: top;
    width: 30%;
    margin-right: 20px;
}
.innerSectionLeft .innerFloatRight {
    display: inline-block;
    vertical-align: top;
    width: 100%;
}
.innerSectionLeft h3 {

    font-size: 44px;
    font-family: 'Gill Sans';
    font-weight: 300;
    letter-spacing: 0.05em;
    margin-bottom: 25px;
}
.innerSectionLeft h2 {
    font-size: 122px;
    font-family: 'Proxima Nova Extra Condensed';
    font-weight: 300;
    line-height: 0.9em;
}
.innerSectionLeft p {
    font-family: 'Gill Sans';
    font-weight: 300;
    font-size:17px;
    line-height: 1.6em;
    width: 90%;
}
.innerSectionRight {
    float: left;
    width:50%;
    padding-top: 15px;
    padding-left: 20px;
}
.innerSectionRight h6 {
    font-family: 'Gill Sans';
    font-weight: normal;
    letter-spacing: 0.1em;
    font-size: 11px;
    text-transform: uppercase;
    margin-bottom: 20px;
    line-height: 1.4em;
}
.innerSectionRight p {
    font-family: 'Gill Sans';
    font-weight: normal;
    letter-spacing: 0.04em;
    font-size: 16px;
    line-height: 1.5em;
    width: 95%;
}
.imageDeck {
    padding-top: 20px;
    overflow: hidden;
    width: 100%;
}
.imageDeck img {
    width: 30%;
    float: left;
    margin-right:1%;
}

/*//////////////////////////////*/
/*//////////////////////////////*/
/*///////// SECTION 03 /////////*/
/*//////////////////////////////*/
/*//////////////////////////////*/
.section-03 {
    width: 100%;
    padding-top: 70px;
    padding-bottom: 50px;
    overflow: hidden;
}
.sectionWrapper {
    width: 75%;
    margin: 0 auto;
}
.section-03 .left-block{
    width: 30%;
    background-color: #162231;
    border-radius: 10px;
    color:#fff;
    padding: 20px 20px 25px;
    margin-right: 3%;
    float: left;
}
.section-03 .left-block img {
    height: 100px;
}
.section-03 .left-block p {
    line-height: 1.5em;
}
.section-03 .right-block {
    width: 67%;
    float: left;
}
.section-03 .innerTitle {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    background-color: #548fcd;
    padding: 30px 20px;
    border-radius: 10px;
    color:#fff;
    text-transform: uppercase;
    width: 180px;
    margin-right: 70px;
}
.section-03 .innerTitle h5 {
    font-size: 24px;
    font-family: 'Proxima Nova Condensed';
    font-weight: 600; 
}
.section-03 .innerTitle p {
    font-family: 'Futura';
    font-weight: 500;
    font-size: 13px;
    letter-spacing: 0.05em;
    width: 100%;
}
.section-03 .innerSectionLeft {
    width: 100%;
    float: none;
}
.section-03 .innerSectionLeft h3 {
    font-size: 50px;
    margin-top: 15px;
    margin-bottom: 0;
}
.section-03 .innerSectionLeft .innerFloatLeft{
    float: none;
    display:inline-block;
    vertical-align: top;
    width: auto;
}
.section-03 .innerSectionLeft .innerFloatRight {
    text-align: left;
    margin-right: 0;
    float: none;
    display:inline-block;
    vertical-align: top;
    width: auto;
}
.boardNames p {
    width: 100% !important;
    font-size: 22px !important;
}
.section-03  .imageBlock {
    width: 95%;
    margin: 0 auto;
    padding: 3px;
    border-radius: 10px;
    background-color: #5da87b;
    overflow: hidden;
}
.section-03  .imageBlock img {
    width: 100%;
    border-radius: 10px;
}
.section-03  .imageBlock h3 {
    padding-top: 10px;
    font-family: 'Proxima Nova ScOsf';
    font-weight: 600;
    font-style: italic;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    font-size: 18px;
    color:#fff;
    padding-left: 30px;
    float: left;
    margin-top: 6px;
}
.section-03  .imageBlock a button {
    float: right;
    margin: 8px;
    border: 0;
    border-radius: 3px;
    background-color: #fff;
    color:#5da87b;
    width: 200px;
    height: 50px;
    padding:5px;
    letter-spacing: 0.1em;
    font-size: 18px;
    text-transform: uppercase;
    font-family: 'Futura';
    font-weight: 600;
}
.section-03 .imageBlock a button:hover {
    cursor: pointer;
    color: #fff;
    background-color:#5da87b;
    border:2px solid #fff;
}
/*//////////////////////////////*/
/*//////////////////////////////*/
/*/////// MEDIA SECTION ////////*/
/*//////////////////////////////*/
/*//////////////////////////////*/
.mediaSection {
    width: 100%;
    padding-top: 8px;
    background-color: #f1f1f2;
    overflow: hidden;
}
.mediaSection .featuredEvents {
    width: 100%;
    float: left;
}
.mediaSection .slider-container {
    width: 35%;
    float: left;
}
.mediaSection .slick-slider {
    margin-right: 10%;
    margin-bottom: 0;
}
.mediaSection .featuredEvents {
    position: relative;
}
.mediaSection .featuredEvents img {
    width:100%;
}
.eventOverlay {
    position: absolute;
    bottom:0;
    width: 100%;
    height: 140px;
    padding: 40px 40px 15px;
    color:#fff;
    background-color:rgba(22, 34, 49, 0.90);
}
.eventOverlay .eventDate {
    width: 55px;
    border:2px solid #fff;
    border-radius: 5px;
    text-align: center;
    margin-right: 20px;
    padding:10px;
    float: left;
}
.eventOverlay .eventDate p {
    font-family: 'Gill Sans';
    font-weight: 300;
    letter-spacing: 0.025em;
    font-size: 16px;
    color: #fff;
}
.eventOverlay .eventDate h6 {
    font-family: 'Gill Sans';
    font-weight: 300;
    letter-spacing: 0.025em;
    font-size: 22px;
    color: #fff;
}
.eventOverlay h3 {
    text-transform: uppercase;
    letter-spacing: 0.03em;
    font-size: 17px;
    font-family: 'Proxima Nova Condensed'; 
    font-weight: 600;
    margin-bottom: 5px;
    padding-top: 10px;
}

.eventOverlay p {
    font-family: 'Gill Sans';
    font-weight: normal;
    letter-spacing: 0.02em;
    font-size: 15px;
}
.eventOverlay button.rsvp {
    background: #5da87b;
    border: 1px solid #5da87b;
    color: #FFFFFF;
    display: block;
    font-family: 'Proxima Nova ScOsf',sans-serif;
    font-size: 18px;
    padding: 8px 22px;
    letter-spacing: 0.1em;
    vertical-align: top;
    text-transform: uppercase;
    position: absolute;
    right: 0;
    top: 0;
}
.eventOverlay button.rsvp:hover {
    cursor:pointer;
    background-color: #fff;
    color:#5da87b;
}
.getSocial {
    overflow: hidden;
    width: 55%;
}
.rsvpModule {
    width: 50%;
    background: #fff;
    padding: 20px;
    overflow: hidden;
}
.followUs,
.inTheNews {
    width: 90%;
    float: left;
}
.followUs h2,
.inTheNews h2,
.rsvpModule h2 {
    font-size: 28px;
    color:rgba(22, 34, 49, 0.5);
    letter-spacing: 0.1em;
    font-family: 'Gill Sans';
    font-weight: 300;
    padding-top: 60px;
    padding-bottom: 8px;
    border-bottom: 1px solid rgba(22, 34, 49, 0.2);
}
.rsvpModule h2 {
    padding-top: 15px;
    margin-bottom: 15px;
}
.rsvpModule h3 {
    font-size: 16px;
    text-transform: uppercase;
    color:rgba(22, 34, 49, 0.7);
     font-family: 'Proxima Nova ScOsf';
    font-weight: bold;
    padding-bottom: 8px;
}
.rsvpModule p {
    font-size: 15px;
    font-family: 'Gill Sans';
    font-weight: normal;
    line-height: 1.6em;
}
.rsvpModule button.rsvpToggle {
    margin-top: 30px;
    margin-bottom: 30px;
    border: 2px solid #152231;
    border-radius: 3px;
    background-color: #fff;
    color: ##152231;
    height: 40px;
    padding: 5px;
    letter-spacing: 0.1em;
    font-size: 18px;
    text-transform: uppercase;
    font-family: 'Futura';
    font-weight: 500;
    width: 100%;
    float: none;
    display: block;
}
.rsvpModule button.rsvpToggle:hover {
    background-color: #152231;
    color:#fff;
    cursor: pointer;
}
.navyBg {
    background-color: #152231 !important;
    color:#fff !important;
}
form#eventRsvp {
    text-align: center;
}
form#eventRsvp p.inputText {
    width: 47%;
    text-align: left;
}
form#eventRsvp p.inputText input, form#eventRsvp p.stateSelect select {
    height: 40px;
}
.socialSquare {
    display: inline-block;
    padding-top: 25px;
    vertical-align: top;
    margin-right: 15px;
}
.socialSquare img {
    height: 100px;
}
.newsQuote {
    margin-top: 25px;
    width: 80%;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 15px;
    font-family: 'Gill Sans';
    font-weight: normal;
    line-height: 1.6em;
}
.moreNews a button{
    font-family: 'Futura';
    font-weight: 600;
    margin-top: 30px;
    background-color: transparent;
    padding: 12px;
    width: 280px;
    height: 60px;
    border:2px solid #5da87b;
    border-radius: 3px;
    text-align: center;
    color:#5da87b;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 0.1em;
}
.moreNews a button:hover {
    cursor: pointer;
    color:#fff;
    background-color:#5da87b;
}
img.newsLogo {
    height: 35px;
    margin-top: 10px;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
}
.newsQuote h6 {
    display: inline-block;
    vertical-align: middle;
    color:#a2a7ad;
    font-size: 12px;
    font-family: 'Gill Sans';
    font-weight: normal;
}


/*//////////////////////////////*/
/*//////////////////////////////*/
/*///// GET INVOLVED PAGE //////*/
/*//////////////////////////////*/
/*//////////////////////////////*/

.getInvolvedSection {
    width: 100%;
    margin-top: 60px;
    padding-bottom: 55px;
    background-size: 100%;
    background-repeat: no-repeat;
}
.getInvolvedWrapper {
    padding: 45px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.getInvolvedSection h1 {
    font-family: 'Gill Sans';
    font-weight: 300;
    letter-spacing: 0.075em;
    font-size:52px;
    color:#548fcd;
    padding-bottom: 20px;
}
.getInvolvedSection h3 {
    font-family: 'Gill Sans';
    font-weight: 300;
    letter-spacing: 0.01em;
    font-size:30px;
    color:#548fcd;
    padding-bottom: 20px;
}
.memberOptions {
    overflow: hidden;
    padding-top: 30px;
    padding-bottom: 50px;
    text-align: center;
}
.memberOptions > div {
    display: inline-block;
    vertical-align: top;
    width: 45%;
    background-color:#fff;
    border: 1px solid #e6e6e6;
    border-radius: 10px;
    height: 600px;
    margin-right: 3%;
    margin-bottom: 20px;
    padding: 25px;
}
.memberOptions > div:last-child {
    margin-right: 0;
}
.memberOptions > div:hover {
    border-color:#548fcd;
    cursor: pointer;
}
.blueBorder {
    border: 1px solid #548fcd !important;
    display: none;
}
.memberOptions > div img {
    margin-bottom: 15px;
    height: 40px;
}

.memberOptions > div h2 {
    font-family: 'Gill Sans';
    font-weight: 300;
    letter-spacing: 0.025em;
    font-size:28px;
    color:#162231;
    padding-bottom: 20px;
}
.memberOptions > div p {
    font-family: 'Gill Sans';
    font-weight: 400;
    letter-spacing: 0.025em;
    line-height: 1.5em;
    font-size:12px;
    color:#162231;
    padding-bottom: 20px;
    width: 95%;
    margin: 0 auto;
}
.memberOptions > div ul li {
    width: 95%;
    margin: 0 auto;
}
.memberOptions > div h6 {
    font-family: 'Gill Sans';
    font-weight: 400;
    letter-spacing: 0.025em;
    line-height: 1.5em;
    font-size:13px;
    color:rgba(22, 34, 49, 0.85);
    margin-top: 5px;
    padding-top: 10px;
    padding-bottom: 15px;
    border-top: 1px solid rgba(84, 143, 205, 0.3);
}
.memberOptions > div a button {
    height: 75px;
    display: inline-block;
    vertical-align: top;
    background-color: rgba(243, 131, 97, 1);
    border: 1px solid rgba(243, 131, 97, 1);
    border-radius: 5px;
    width: 130px;
    color:#fff;
    text-transform: uppercase;
    font-family: 'Futura';
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 10px;
}

.memberOptions > div a button:hover {
    background-color: rgba(243, 131, 97, 0.76);
    color:#fff;
}
.spacer {
    height: 300px;
    overflow-y: scroll;
}
.peachBg {
    background-color: rgba(243, 131, 97, 0.76) !important;
    color:#fff !important;
}
.memberOptions > div a button:hover {
    cursor: pointer;
}
.getInvolvedForm {
    padding-top: 20px;
    overflow: hidden;
}
.getInvolvedForm p {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    font-size: 16px;
}
p.inputText {
    width: 40%;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 15px;
    margin-right: 2%;
}
p.inputText input,
p.stateSelect select,
p.monSelect select,
p.yearSelect select,
.evPaymentFields .label-input_wrapper input,
.getInvolvedForm .label-input_wrapper input{
    font-family: 'Gill Sans';
    font-weight: normal;
    width: 100%;
    height: 45px;
    padding: 20px;
    margin-top: 8px;
    margin-right: 2px;
    border: 1px solid #5da87b;
    border-radius: 4px;
    letter-spacing: 0.02em;
    font-size: 17px;
    color: rgba(22, 34, 49, 0.85);
}
p.submitForm {
    display: block !important;
    width:40%;
    margin: 0 auto;
}
input.memberSignup {
    font-family: 'Futura';
    font-weight: 500;
    height: 45px;
    padding: 15px;
    margin-top: 27px;
    border: 0;
    border-radius: 4px;
    letter-spacing: 0.02em;
    font-size: 12px;
    text-transform: uppercase;
    background-color: #5da87b;
    color: #fff;
    display: block;
    width: 100%;
    text-align: center;
}
.joinAmountSelect {
    padding-top: 20px;
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}
.joinAmountSelect p {
    text-transform: uppercase;
}
.joinAmountSelect input.otherAmount {
    width: 30%;
    height: 30px;
    float: left;
    font-family: 'Gill Sans';
    font-weight: normal;
    font-style:italic;
    font-size: 12px;
    margin-top: 8px;
    border: 1px solid rgba(157, 160, 164, 0.2);
    border-radius: 4px;
    padding-left: 8px;
    color: rgba(22, 34, 49, 0.4);
    background-color: #f1f1f2;
}
.joinAmountSelect,
.joinNewRabbi,
.joinReturnRabbi {
    padding-top: 20px;
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

.joinAmountSelect p,
.joinNewRabbi p,
.joinReturnRabbi p{
    text-transform: uppercase;
}
.joinAmountSelect input.otherAmount {
    width: 30%;
    height: 30px;
    float: left;
    font-family: 'Gill Sans';
    font-weight: normal;
    font-style:italic;
    font-size: 12px;
    margin-top: 8px;
    border: 1px solid rgba(157, 160, 164, 0.2);
    border-radius: 4px;
    padding-left: 8px;
    color: rgba(22, 34, 49, 0.4);
    background-color: #f1f1f2;
}
.joinNewRabbi input,
.joinReturnRabbi input {
    font-family: 'Gill Sans';
    font-weight: normal;
    height: 45px !important;
    float: none;
    width: 30%;
    background: transparent;
    height: 30px;
    margin: 8px auto;
    border: 1px solid #80cea0;
    border-radius: 4px;
    letter-spacing: 0.02em;
    font-size: 16px;
    color: #80cea0;
}
select.memberPreview {
    font-family: 'Gill Sans';
    font-weight: normal;
    width: 70%;
    height: 45px;
    padding: 20px;
    margin-top: 8px;
    margin-right: 2px;
    border: 1px solid #5da87b;
    border-radius: 4px;
    letter-spacing: 0.02em;
    font-size: 17px;
}
.volunteerName {
    margin-top: 10px;
    height: 325px;
    overflow:scroll;
    max-height: 90%;
}

.volunteerName ul {
    list-style-type: none;
    width: 100%;
}

.volunteerName h3 {
    font: bold 20px/1.5 Gill Sans, Verdana, sans-serif;
}


.volunteerName li p {
    font: 200 12px/1.5 Gill Sans, Times New Roman, serif;
}

.volunteerName li {
    padding: 10px;
    overflow: scroll;
    text-align: initial;
}

.volunteerName li:hover {
    background: #eee;
    cursor: pointer;
}
.greenBg {
    background-color: #5da87b !important;
    color:#fff !important;
}
.fourCorners {
    overflow: hidden;
    background:#f7f7fa;
    margin-top: 60px;
}
.fourCorners > div {
    float: left;
    width: 50%;
    text-align: center;
}

.fourCorners > div h2 {
    padding-top:40px;
    font-family: 'Gill Sans';
    font-weight: 300;
    letter-spacing: 0.075em;
    font-size:36px;
    color: rgba(22, 34, 49, 0.85);
    min-height: 450px;
}

.calendarModule {
    background:rgba(138, 141, 147, 0.2);
    border-radius: 10px; 
    margin:6px;
    padding: 8px 25px 25px;
    min-height: 430px;
    width: 80%;
    margin: 10px auto;
}
.calendarModule h4 {
    font-family: 'Proxima Nova Condensed';
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 13px;
    color: rgba(22, 34, 49, 0.60);
}
.calendarModule .monthSelector {
    position: relative;
}
.calendarModule .monthSelector h3,
.cornerTitle h3 {
    font-family: 'Gill Sans';
    font-weight: 300;
    letter-spacing: 0.025em;
    font-size: 40px;
    color: rgba(22, 34, 49, 1);
}
.calendarModule .monthSelector::before {
    content: url('/content/frontend/assets/img/arrowLeft.png');
    position: absolute;
    left: 0;
    bottom: 0;
}
.calendarModule .monthSelector::after {
    content: url('/content/frontend/assets/img/arrowRight1.png');
    position: absolute;
    right: 0;
    bottom: 0;
}
.calendarModule .eventScroll {
    margin-top: 10px;
    background-color: #fff;
    border-top:1px solid #548fcd;
    height: 325px;
    overflow-y: scroll;
    padding: 20px;
    overflow: hidden;
}
.eventScroll > div {
    float: left;
}
.eventScroll .eventDate {
    width: 55px;
    border:1px solid #162231;
    border-radius: 5px;
    text-align: center;
    margin-right: 20px;
    padding: 5px 10px;
}
.eventScroll .eventDate p {
    font-family: 'Gill Sans';
    font-weight: 300;
    letter-spacing: 0.025em;
    font-size: 16px;
    color: rgba(22, 34, 49, 1);
}
.eventScroll .eventDate h6 {
    font-family: 'Gill Sans';
    font-weight: 300;
    letter-spacing: 0.025em;
    font-size: 22px;
    color: rgba(22, 34, 49, 1);
}
.eventScroll .eventDetails {
    text-align: left;
}
.eventScroll .eventDetails h5 {
    font-family: 'Proxima Nova Condensed';
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.075em;
    font-size: 18px;
    color: rgba(22, 34, 49, 1);
    padding:5px 0;
}
.eventScroll .eventDetails p {
    font-family: 'Gill Sans';
    font-weight: normal;
    letter-spacing: 0.05em;
    font-size: 14px;
    color: rgba(22, 34, 49, 1);
}

.inTheLoop {
    text-align: center;
    border-radius:10px;
    margin: 10px;
    background-color: #f38361;
    height: 280px;
    position: relative;
}
.inTheLoop h2 {
    padding-top: 30px;
    font-family: 'Gill Sans';
    font-weight: 300;
    letter-spacing: 0.075em;
    font-size:38px;
    color:#fff;
}
.loopJoin {
    margin-top: 60px;
    text-align: center;
}

input.loopEmail {
    font-family: 'Gill Sans';
    font-weight: normal;
    text-align: center;
    width: 300px;
    height: 45px;
    padding: 20px;
    margin-right: 2px;
    border:0;
    border-radius: 4px;
    letter-spacing: 0.02em;
    font-size: 17px;
    color:rgba(22, 34, 49, 0.3);
    display: block;
    margin: 0 auto;
}
input.loopSubmit {
    font-family: 'Futura';
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    width: 300px;
    height: 45px;
    border:0;
    border-radius: 4px;
    letter-spacing: 1px;
    font-size: 18px;
    text-transform: uppercase;
    background-color: #548fcd;
    color:#fff;
    display: block;
    margin: 5px auto;
    position: relative;
    z-index: 99;
}
button#scrollUp {
    font-family: 'Futura';
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    height: 50px;
    width: 240px;
    border: 0;
    border-radius: 4px;
    letter-spacing: 0.02em;
    font-size: 16px;
    text-transform: uppercase;
    background-color: #5da87b;
    color: #fff;
    display: initial;
    margin-top: 31px;
}

.inTheLoop img {
    position: absolute;
    height: 100%;
    right: 10%;
}

/*//////////////////////////////*/
/*//////////////////////////////*/
/*/////// DONATION PAGE ////////*/
/*//////////////////////////////*/
/*//////////////////////////////*/

.donateSection {
    width: 100%;
    height: 690px;
    margin-top: 60px;
    /*background-size: cover;*/
    background-position: 100% 100%;
}
.donateWrapper {
    margin: 0 auto;
    overflow: hidden;
}
.donateLogo {
    width: 160px;
    margin:0 auto 50px;
}
.donateLogo img {
    width: 100%;
}

.donateForm {
    padding: 0;
    background-color: #fff;
    width: 430px;
    text-align: center;
    border-radius: 10px;
    margin: 0 auto;
}
.donateFormTitle {  
    padding: 20px 35px;
    background-color: #5da87b;

}
.donateFormTitle h5 {
    color:#fff;
    font-family: 'Gill Sans';
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.05em;
    line-height: 1.5em;
}
.donateFormInputs {
    padding: 10px 35px;
    overflow:hidden;
}
div.stepBubbles ul {
    text-align: center;
    margin-bottom: 10px;
}
div.stepBubbles ul li {
    display: inline-block;
    height: 10px;
    width: 10px;
    background-color: #fff;
    border:1px solid #80cea0;
    border-radius: 50%;
    margin: 0 auto;
    padding-left: 2px;
    padding-right: 2px;
}
div.stepBubbles ul li:hover {
    cursor: pointer;
}
div.stepBubbles ul li.active {
    background-color: #80cea0;
}
input.donateAmount{
    font-family: 'Gill Sans';
    font-weight: normal;
    float: left;
    width: 30%;
    background: transparent;
    height: 30px;
    margin-top: 8px;
    margin-right: 3.3%;
    border: 1px solid #80cea0;
    border-radius: 4px;
    letter-spacing: 0.02em;
    font-size: 14px;
    color: #80cea0;
    outline:0;
}
input.donateAmount:hover {
    cursor: pointer;
}
input.otherAmount {
    width: 63.3%;
    height: 30px;
    float: left;
    font-family: 'Gill Sans';
    font-weight: normal;
    font-style:italic;
    font-size: 12px;
    margin-top: 8px;
    border: 1px solid rgba(157, 160, 164, 0.2);
    border-radius: 4px;
    padding-left: 8px;
    color: rgba(22, 34, 49, 0.4);
    background-color: #f1f1f2;
}
input.nextStepBtn {
    font-family: 'Futura';
    font-weight: 600;
    width: 100%;
    height: 45px;
    margin-top: 27px;
    border: 0;
    border-radius: 4px;
    letter-spacing: 0.075em;
    font-size: 18px;
    text-transform: uppercase;
    background-color: #548fcd;
    color: #fff;
    text-align: center;
}
input.nextStepBtn:hover {
    cursor: pointer;
}
.addyFields p,
.paymentScreen p {
    float: left;
    text-align: left;
    margin-bottom: 10px;
}
.donateFormInputs p.field100 {
    width: 98%;
    margin-right: 1%;
}
.donateFormInputs p.field50 {
    width: 48%;
    margin-right: 1%;
}
.donateFormInputs p.field25 {
    width: 23%;
    margin-right: 2%;
}
.addyFields input[type="text"],
.addyFields select {
    font-family: 'Gill Sans';
    font-weight: normal;
    background: transparent;
    height: 30px;
    margin-top: 8px;
    border: 1px solid #80cea0;
    border-radius: 4px;
    letter-spacing: 0.02em;
    font-size: 14px;
    color: #162231;
    width: 100%;
}
.addyFields select {
    text-align: center;
}
label#repeatDonation {
    width: 100%;
    float: none;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
}
label#repeatDonation input {
    width: 25px;
    display: inline-block;
    vertical-align: middle;
}
label#repeatDonation p {
    display: inline-block;
    vertical-align: middle;
}
.paymentScreen input[type="text"],
.paymentScreen input[type="number"],
.paymentScreen select
{
    font-family: 'Gill Sans';
    font-weight: normal;
    background: transparent;
    height: 30px;
    margin-top: 8px;
    border: 1px solid #80cea0;
    border-radius: 4px;
    letter-spacing: 0.02em;
    font-size: 14px;
    color: #162231;
    width: 100%;
    padding-left: 10px;
}
.donateLeftBlock {
    float: left;
    width: 45%;
    padding: 50px 50px 0;
}
 .donateRightBlock {
    float: left;
    width: 55%;
    position: relative;
}
 .donateRightBlock img.blurredVision{
    width: 100%;
    height: 690px;
    position: relative;
    z-index: -1;
 }
.rightBlockContent {
    padding-top: 70px;
    padding-right: 30px;
}
.rightBlockContent img{
    width: 100%;
}
.rightBlockContent h4 {
    font-family: 'Proxima Nova Condensed';
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.075em;
    font-size: 19px;
    color: #fff;
    width: 60%;
}
.rightBlockContent h2 {
    font-family: 'Proxima Nova ScOsf';
    font-weight: bold;
    padding-top: 10px;
    text-transform: uppercase;
    letter-spacing: 0.075em;
    font-size: 60px;
    color: #fff;
    line-height: 0.85em;
}
.selectDonation {
    margin-top: 25px;
    padding: 15px 0 15px 15px;
    border-radius: 10px;
    overflow: hidden;
}

.selectDonation h5 {
    font-family: 'Proxima Nova ScOsf';
    font-weight: bold;
    font-size: 12px;
    color:#888889;
    text-transform: capitalize;
}


.selectDonation p {
        font-family: 'Gill Sans';
    font-weight: normal;
        font-size: 12px;
    color:#888889;
}
.selectDonation ul {
    float: left;
}
.selectDonation li {
    padding: 12px 0;
    border-bottom: 1px solid rgba(136, 136, 137, 0.32);
}
.selectDonation li:last-child {
    border-bottom: 0;
}
.rightBlockContent h6 {
    width: 100%;
    color:#fff;
    padding-top: 15px;
    font-family: 'Gill Sans';
    font-weight: normal;
    font-size:12px;
}
#piechart {
    width: 100%;
    height: 450px;
}

/*CONTACT PAGE*/
.contactForm {
    padding: 0;
    background-color: #fff;
    width: 50%;
    text-align: center;
    border-radius: 10px;
    margin: 0 auto 30px;
}

.contactFormInputs {
    padding: 10px 35px;
    text-align: left;
    border:1px solid #5da87b;
}
.contactFormInputs input{
    font-family: 'Gill Sans';
    font-weight: normal;
    width: 100%;
    height: 45px;
    padding: 20px;
    margin-top: 8px;
    margin-bottom: 10px;
    margin-right: 2px;
    border: 1px solid #5da87b;
    border-radius: 4px;
    letter-spacing: 0.02em;
    font-size: 17px;
    color: rgba(22, 34, 49, 0.85);
}
.contactFormInputs textarea{
    font-family: 'Gill Sans';
    font-weight: normal;
    width: 100%;
    height: 200px;
    padding: 10px 20px;
    margin-top: 8px;
    margin-bottom: 10px;
    margin-right: 2px;
    border: 1px solid #5da87b;
    border-radius: 4px;
    letter-spacing: 0.02em;
    font-size: 17px;
    color: rgba(22, 34, 49, 0.85);
}
.contactFormInputs input#contactSubmit {
        font-family: 'Futura';
    font-weight: 500;
    width: 100%;
    height: 50px;
    margin-top: 27px;
    border: 0;
    border-radius: 4px;
    letter-spacing: 0.075em;
    font-size: 12px;
    text-transform: uppercase;
    background-color: #548fcd;
    color: #fff;
    text-align: center;
}


/*SIGN IN PAGE*/
.donateSection {
    width: 100%;
    height: 690px;
    margin-top: 42px;
}
.loginBlock {
    width: 100%;
    padding:50px 50px 0;
}
.loginForm {
    padding: 0;
    background-color: #fff;
    width: 430px;
    text-align: center;
    border-radius: 10px;
    margin: 0 auto;
}
.loginFormTitle {
    padding: 20px 35px;
    background-color: #5da87b;
}
.loginFormTitle h2 {
    text-transform: uppercase;
    color:#fff;
}
.loginFormInputs {
    padding: 10px 35px;
    text-align: left;
}
.loginFormInputs input{
    font-family: 'Gill Sans';
    font-weight: normal;
    width: 100%;
    height: 45px;
    padding: 20px;
    margin-top: 8px;
    margin-bottom: 10px;
    margin-right: 2px;
    border: 1px solid #5da87b;
    border-radius: 4px;
    letter-spacing: 0.02em;
    font-size: 17px;
    color: rgba(22, 34, 49, 0.85);
}
.loginFormInputs input#signin {
    font-family: 'Futura';
    font-weight: 600;
    width: 100%;
    height: 50px;
    margin-top: 27px;
    border: 0;
    border-radius: 4px;
    letter-spacing: 0.075em;
    font-size: 18px;
    text-transform: uppercase;
    background-color: #548fcd;
    color: #fff;
    text-align: center;
    padding: 0;
}
/*//////////////////////////////*/
/*//////////////////////////////*/
/*///////// TIMELINE ///////////*/
/*//////////////////////////////*/
/*//////////////////////////////*/
.timelineHeader h1 {
    font-family: 'Proxima Nova ScOsf';
    font-weight: bold;
    padding-top: 10px;
    text-transform: uppercase;
    letter-spacing: 0.075em;
    font-size: 60px;
    color: #152231;
    text-align: center;
}
.timeline {
    padding-top: 70px;
  position: relative;
  overflow: auto;
}

.timeline:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 5px;
    left: 0;
    background: #152231;
}
  
.timeline h2 {
    max-width: 6em;
    margin: 0 auto 1em;
    padding: 0.5em;
    text-align: center;
    position: relative;
    clear: both;
    background: #152231;
    color:#fff;
  }
  
.timeline ul {
    list-style: none;
    padding: 0 0 0 1em;
    z-index: 1;
  }
  
.timeline li {
    padding: 1em;
    margin-bottom: 1em;
    position: relative;
}
.timeline li:before {
      content: '';
      width: 0;
      height: 0;
      border-left: 1em solid transparent;
      position: absolute;
      left: -1em;
      top: 0;
    }
  
.timeline li h3 {
    margin-top: 0;
  }
  
.timeline li time {
    font-style: italic;
}

@media screen and (min-width: 40em) {

  

  .timeline:before {
      left: 50%;
    }
    
  .timeline    ul {
      padding-left: 0;
      max-width: 700px;
      margin: 0 auto;
    }
    
   .timeline   li {
      width: 42%;
    }
    
   .timeline   li:nth-child(even) {
      float: right;
      margin-top: 2em;
      background: #F48360;
      color:#fff;
    }
    
   .timeline li:nth-child(odd) {
      float: left;
      background-color: #5490CF;
      color:#fff;
    }  
    .timeline li:nth-child(odd):before {
        border-top: 1em solid #5490CF;
        border-right: 1em solid transparent;
        right: -1em;
        left: auto;
      }
    .timeline li:nth-child(even):before {
        border-top: 1em solid #F48360;
        border-right: 1em solid transparent;
        left: -1em;
        right: auto;
      }
    
    .timeline li:nth-of-type(2n+1) {
      clear: both;
    }
}
/*//////////////////////////////*/
/*//////////////////////////////*/
/*/////// LEADERSHIP PAGE ////////*/
/*//////////////////////////////*/
/*//////////////////////////////*/
div#leaderBlock {
    float: left;
    width: 50%;
    padding: 40px;
}
div#leaderBlock img {
    width: 100% !important;
    height: 400px !important;
}
div#leaderBlock h1 {
    text-align: center;
}
.officerTable {
    padding-top: 35px;
}
h5.officerTitle {
    font-size: 40px !important;
    letter-spacing: 2px !important;
    font-weight: 300 !important;
}
.officerTable ul {
    text-align: center;
}
.officerTable ul li {
    width: 24%;
    display: inline-block;
    vertical-align: top;
    line-height: 1.4em;
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 20px;
}

/*//////////////////////////////*/
/*//////////////////////////////*/
/*///// OUR PARTNERS PAGE //////*/
/*//////////////////////////////*/
/*//////////////////////////////*/
.partnerLogo {
    margin: 0 auto;
    padding-bottom: 0;
    padding-top: 30px;
}
.partnerIntro {
    margin-top: 0;
    padding-top: 0 !important;
}
.partnerImg {
    float: none !important;
    width: 85% !important;
    padding-top: 20px !important;
}
.partnerImg img {
    width: 100%;
    padding: 0px 60px 60px;
}
/*//////////////////////////////*/
/*//////////////////////////////*/
/*/////// OUR WORK PAGE ////////*/
/*//////////////////////////////*/
/*//////////////////////////////*/

.ourWorkHeader {
    width: 100%;
    padding-top: 80px;
    padding-bottom: 30px;
}
.ourWorkWrapper {
    width: 85%;
    margin: 0 auto;
    text-align: center;
}
.ourWorkHeader h5 {
    font-family: 'Proxima Nova Condensed';
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.075em;
    font-size: 18px;
    color: rgba(22, 34, 49, 1);
}
.ourWorkHeader p {
    font-family: 'Gill Sans';
    font-weight: 300;
    letter-spacing: 0.03em;
    font-size: 26px;
    color: #162231;
    padding-top: 5px;
    width: 55%;
    margin: 0 auto;
}
.introBox {
    overflow: hidden;
    position: relative;
    height: 392px;
}
.introHeroimage {
    position: absolute;
    top:8px;
    left: 8px;
    height: 70%;
    z-index: 99;
}
.introHeroimage img {
    height: 100%;
}
.introHeroimage h1 {
    font-family: 'Gill Sans';
    font-weight: 300;
    letter-spacing: 0.1em;
    line-height: 0.95em; 
    font-size: 124px;
    color: #fff;
    width: 58%;
    padding-left: 10px;
    padding-bottom: 25px;
    position: absolute;
    text-align: left;
    text-transform: uppercase;
    top:15%;
    left: 50px
}
.introBox .leftBox {
    width: 50%;
    background-color: #162231;
    float: left;
    position: relative;
    z-index: 9;
    color:#fff;
    height: 392px;
}
.introBox .leftBox img {
    width: 100%;
    height: 392px;
}
.leftBox .leftBoxContent{
    position: absolute;
    bottom: 18px;
    left:12px;
}
.leftBox .leftBoxContent img{
    height: 110px;
    display: inline-block;
    margin-right: 5px;
}
.leftBox .leftBoxContent .pageCounter {
    display: inline-block;
    vertical-align: top;
    text-align: left;
}
.leftBox .leftBoxContent .pageCounter h6{
    font-family: 'Proxima Nova Condensed';
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.075em;
    font-size: 13px;
    font-style: italic;
    padding-bottom: 6px;
}
.leftBox .leftBoxContent .pageCounter ul li {
    font-family: 'Proxima Nova Extra Condensed';
    font-weight: 300;
    font-size: 16px;
    padding-bottom: 4px;
}

.introBox .rightBox {
    width: 50%;
    height: 392px;
    float: left;
    padding: 25px; 
    text-align: left;   
}
.introBox #pillar1 {
    background-color:#548fcd ;
}
.introBox #pillar2 {
    background-color:#5da87b ;
}
.introBox #pillar3 {
    background-color:#f38361 ;
}
.introBox #pillar4 {
    background-color:#f2c559;
}
.introBox #pillar5 {
    background-color:#95989d;
}
.introBox .rightBox h6 {
    font-family: 'Proxima Nova Extra Condensed';
    font-weight: 300;
    letter-spacing: 0.025em;
    font-size: 32px;
    color:#162231;
}
.introBox .rightBox h2 {
    font-family: 'Gill Sans';
    font-weight: 300;
    letter-spacing: 0.04em;
    line-height: 1.2em; 
    font-size: 36px;
    color: rgba(22, 34, 49, 1);
    width: 100%;
    padding-left: 10px;
    padding-bottom: 25px;
}
.introBox .rightBox h5 {
    font-family: 'Proxima Nova Condensed';
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.075em;
    font-size: 18px;
    font-style: italic;
    color: rgba(22, 34, 49, 1);
    padding-left: 10px;
    padding-bottom: 10px;
}
.introBox .rightBox p{
    font-family: 'Gill Sans';
    font-weight: normal;
    letter-spacing: 0.05em;
    font-size: 15px;
    color: rgba(22, 34, 49, 1);
    padding-left: 10px; 
    line-height: 1.5em;
    width: 84%;
}
.five-pillar-section {
    padding-top: 50px;
}
.five-pillar-section h6 {
    font-size: 46px;
}
.five-pillar-section ul li{
    font-size: 24px;
    font-weight: 300;
    line-height: 1.7em;
}
.getInvolvedSection h1 {
    font-family: 'Gill Sans';
    font-weight: 300;
    letter-spacing: 0.075em;
    font-size:52px;
    color:#548fcd;
    padding-bottom: 20px;
}
.getInvolvedSection h3 {
    font-family: 'Gill Sans';
    font-weight: 300;
    letter-spacing: 0.01em;
    font-size:30px;
    color:#548fcd;
    padding-bottom: 20px;
}
.getInvolvedForm {
    padding-top: 20px;
    overflow: hidden;
}
.getInvolvedForm p {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    font-size: 16px;
}
.locationSection {
    padding-top: 40px;
    width:100%;
}
.locationSection .sectionWrapper{
    overflow: hidden;
    border-bottom: 15px solid #f1f1f2;
    width:85%;
}
.commBlock {
    float: left;
    width: 30%;
}
.commBlock h4 {
    font-family: 'Proxima Nova Condensed';
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.075em;
    font-size: 18px;
    color: rgba(22, 34, 49, 1);
    padding-left: 20px;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #f1f1f2;
}
.commBlock .commList {
    overflow-y: scroll;
}
.commBlock .commList ul li {
    font-family: 'Gill Sans';
    font-weight: bold;
    letter-spacing: 0.1em;
    line-height: 1.75em;
    text-transform: uppercase;
    font-size: 10px;
    color: #a7a9ad;
    padding-top: 15px;
    padding-bottom: 15px;
}
.commBlock .commList ul li:hover {
    cursor: pointer;
}
.commBlock .commList ul li img {
    display: inline-block;
    vertical-align: middle;
    height: 50px;
    margin-right: 10px;
}
.commBlock .commList ul li p {
    display: inline-block;
    vertical-align: middle;
}
.commBlock .commList ul li p strong {
    color:#162231;
}
.mapKey {
    float: left;
    width: 70%;
    position: relative;
}
.mapKey img {
    width: 100%;
}
.threeBlocks {
    padding-top: 30px;
    overflow: hidden;
    padding-bottom: 65px;
}
.threeBlocks .sectionWrapper > div {
    float: left;
    width: 33.3%;
    text-align: center;
    border-right: 3px solid #f1f1f2;
}
.threeBlocks .sectionWrapper > div:last-child {
    border-right:0;
}
.threeBlocks .sectionWrapper > div h5 {
    font-family: 'Proxima Nova Condensed';
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.075em;
    font-size: 22px;
    color: rgba(22, 34, 49, 1);
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.threeBlocks .sectionWrapper > div p {
    width: 85%;
    margin: 0 auto;
    line-height: 1.5em;
    font-family: 'Gill Sans';
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 0.05em;
}


.middleSection {
    background-color:#f1f1f2;
    overflow: hidden;
}
.middleSection > div {
    float: left;
}
.middleSectionTwo {
    width: 35%;
}
.middleSectionThree {
    width: 65%;
}
.ms2Header {
    width: 75%;
    padding-bottom: 15px;
    position: relative;
}
.ms2Header img {
    width: 100%;
}
.ms2Content {
    padding-left: 18%;
}
.ms2Content p {
    width: 80%;
    font-family: 'Gill Sans';
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 0.05em;
    line-height: 1.7em;
}
.ms2Content a button {
    font-family: 'Futura';
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    width: 250px;
    height: 45px;
    border: 0;
    border-radius: 4px;
    letter-spacing: 0.02em;
    font-size: 14px;
    text-transform: uppercase;
    background-color: #548fcd;
    color: #fff;
    display: block;
    margin-top: 20px;
}
.ms2HeaderOverlay {
    position: absolute;
    left: 90px;
    top:40px;
}
.ms2HeaderOverlay h6 {
    font-family: 'Proxima Nova Extra Condensed';
    font-weight: 300;
    letter-spacing: 0.025em;
    font-size: 32px;
    color: #fff;
}
.ms2HeaderOverlay h2 {
    font-family: 'Gill Sans';
    font-weight: 300;
    letter-spacing: 0.04em;
    line-height: 1.2em;
    font-size: 42px;
    color: #fff;
    width:90%;
    padding-left: 10px;
    padding-bottom: 25px;
}
.ms3Header {
    padding-top: 30px;
    overflow: hidden;
}
.ms3Title {
    padding-left: 40px;
    float: left;
    width: 50%;
}
.ms3Title h6 {
    font-family: 'Proxima Nova Extra Condensed';
    font-weight: 300;
    letter-spacing: 0.025em;
    font-size: 32px;
    color: #162231;
}
.ms3Title h2 {
    font-family: 'Gill Sans';
    font-weight: 300;
    letter-spacing: 0.04em;
    line-height: 1.2em;
    font-size: 34px;
    color: #162231;
    width:100%;
    padding-left: 10px;
    padding-bottom: 25px;
}
.ms3Intro {
    float: left;
    width: 50%;
    padding-top: 40px;
}
.ms3Intro p {
    width: 70%;
    font-family: 'Gill Sans';
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 0.05em;
    line-height: 1.7em;
    padding-bottom: 10px;
}
.ms3Intro a {
    color:#5da87b;
    text-transform: uppercase;
    font-family: 'Futura';
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0.05em;
}
.ms3Content {
    overflow: hidden;
}
.ms3Content .imageHolder.holder1 {
    float: left;
    width: 54%; 
    margin-right: 1%;
}
.ms3Content .imageHolder.holder2 {
    float: left;
    width: 44%; 
}
.imageHolder img {
    width: 100%;
    
}
.middleSectionFour {
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 50px;
    padding-bottom: 50px;
}
.middleSectionFour .middleWrapper {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
}
.ms4Header {
    padding-top: 30px;
    overflow: hidden;
    float: left;
    width: 45%;
}
.ms4Title {
    padding-left: 40px;
    width: 75%;
}
.ms4Title h6 {
    font-family: 'Proxima Nova Extra Condensed';
    font-weight: 300;
    letter-spacing: 0.025em;
    font-size: 32px;
    color: #162231;
}
.ms4Title h2 {
    font-family: 'Gill Sans';
    font-weight: 300;
    letter-spacing: 0.04em;
    line-height: 1.2em;
    font-size: 46px;
    color: #162231;
    padding-left: 10px;
    padding-bottom: 25px;
}

.ms4Content {
    float: left;
    width: 55%;
}


.councilBtn {
    margin-left:40px;
    padding: 15px;
    background-color:rgba(84, 143, 205, 1);
    border-radius: 5px;
    width: 300px;
}
.councilBtn h5 {
    font-family: 'Proxima Nova Condensed';
    font-weight: 600;
    text-transform: uppercase;
    color:#fff;
    font-size: 24px;
    letter-spacing: 0.05em;
    padding-bottom: 10px;

}
.councilBtn a button {
    margin: 8px;
    border: 0;
    border-radius: 3px;
    background-color: #fff;
    color: #5da87b;
    width: 150px;
    height: 40px;
    padding: 5px;
    letter-spacing: 0.1em;
    font-size: 10px;
    text-transform: uppercase;
    font-family: 'Futura';
    font-weight: 500;
    border:1px solid #5da87b;
}
.ms4Content h3 {
     font-size: 28px;
    color: rgba(22, 34, 49, 0.5);
    letter-spacing: 0.1em;
    font-family: 'Gill Sans';
    font-weight: 300;
    padding-top: 60px;
    padding-bottom: 8px;
    border-bottom: 1px solid rgba(22, 34, 49, 0.2);
}
.ms4Content p {
    font-size: 24px;
    color: rgba(22, 34, 49, 1);
    letter-spacing: 0.05em;
    font-family: 'Gill Sans';
    font-weight: 300;
    padding-top: 15px;
    padding-bottom: 8px;
    width: 85%;
}

.ms4Content a button {
    font-family: 'Futura';
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    width: 250px;
    height: 45px;
    padding: 15px;
    border: 0;
    border-radius: 4px;
    letter-spacing: 0.02em;
    font-size: 11px;
    text-transform: uppercase;
    background-color: #5da87b;
    color: #fff;
    display: block;
    margin-top: 20px;
}

/*MOBILE MENU*/
#mob-menu{
    display:none;
    float: right;
    height: 56px;
    margin-top: 2px;
    padding-top: 7px;
    background:#152231 url(http://2.bp.blogspot.com/-yntO6wkJlhM/VU2V5zFSVXI/AAAAAAAADFE/_pMaJyv7Kmw/s1600/menu-bg.png) 10px 14px no-repeat;
    color:#fff;
    line-height:40px;
    font-size: 16px;
    width:120px;
    text-indent:50px;
    cursor:pointer;
    text-transform: uppercase;
    right: 0;
    font-weight: 600;
}
#nav{display:none;margin:auto;}
#nav ul{
    margin:20px 0px 0px 0px;
    padding:0px;
    list-style:none;
    height:40px;
    background:#06C;
}
#nav ul li{float:left;}
#nav ul li a{display:block;height:40px;line-height:40px;color:#fff;font-size:16px;text-decoration:none;padding:0px 15px;
z-index: 9999;position: relative;}

#nav ul li a:hover{
    background:#5DA87B;
}

 @media only screen and (max-width: 1220px) {
    .contentWidthPrimary {
        width: 99%;
    }
 }

 @media only screen and (max-width: 1120px) {

    .contentWidthPrimary {
        width: 90%;
    }
        header.primaryHeader .pull_right {
        display: none;
    }
    a.headerLogoWrapper > img {
        width: 80%;
    }

    #nav{
        display:table
    }

    #mob-menu{display:block;}
    #mob-menu{position:fixed;top:0px;}
    #nav ul{
        position:absolute;
        width:100%;
        margin:0px;
        height:auto;
        display:none;
        left:0px;
        top:58px;
        background:#152231;
    }
    #nav ul li{
        float:none;
        border-bottom:solid 1px #fff;
        text-align: right;
    }
    #nav ul li:last-child {
        border-bottom: 0;
    }
    #nav ul li a:hover{
        background:#5DA87B;
        color:#152231;
    }
/*    footer.primaryFooter {
        margin-top: 40px;
    }*/
    footer.primaryFooter .contentWidthExtreme .pull_right .legal {
        display: none;
    }
}
@media only screen and (max-width:1400px) {
    .rightBlockContent {
        text-align: center;
    }
    .rightBlockContent h4 {
        width: 100%;
    }
    .selectDonation {
        width: 90%;
    }
}
@media only screen and (max-width:990px) {
    .splash-logo {
        margin-bottom: 45px;
    }
    .splash-logo img {
        height: 100px;
    }
    .splash-title {
        padding-top: 20px;
    }
    .splash-title h1 {
        font-size: 18px;
    }
    .landing-latest {
        width: 95%;
    }
    .latest-blog-post {
        width: 100%;
    }
    .landing-latest-title h2 {
        font-size: 24px;
    }
    .latest-blog-post-snippet p {
        font-size: 15px;
    }
    .homeHero {
        background-size: cover;
        width: 100%;
        height: 300px;
    }
    img.heroOverlay {
        display: none;
    }
    .heroText {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: 100%;
        padding-top:70px;
        float: none;
        left: 0;
        right: 0;       
        text-align: center;
    }
    .homeHeroWrapper .heroText {
        padding-top: 0;
    }
    .heroText h1 {
        font-size: 40px;
        padding-top: 15px;
        font-weight: 400;
        background-color: rgba(255, 255, 255, 0.6);
    }
    .homeHeroWrapper .heroText h1 {
        font-size: 28px;
    }
    .heroText p {
        width: 100%;
        margin: 0 auto;
        font-size: 16px;
        line-height: 1.3em;
        padding-bottom: 15px;
        background-color: rgba(255, 255, 255, 0.6);
    }
    .homeHeroWrapper button {
        width: 100% !important;
        margin: 0 !important;
        border-radius: 0 !important;
    }
    .donateToUs a button {
        width: 92%;
    }
    .eventScroll .eventDetails h5 {
        font-size: 14px;
    }
    .eventScroll .eventDetails p {
        font-size: 12px;
    }
    .pursuitContainer {
        padding: 10px 10px 80px;
        height: auto;
    }
    .pursuitLeft {
        float: none;
        width: 100%;
        margin: 0 auto;
    }
    .pursuitLeft h2 {
        font-size: 60px;
    }
    .pursuitLeft h3 {
        font-size: 30px;
    }
    .pursuitLeft p {
        font-size: 15px;
    }
    .pursuitLeft .innerFloatRight {
        width: 100%;
    }
    .pursuitRight {
        float: none;
        width: 100%;

    }
    .pursuitRight p {
        width: 95%;
        font-size: 14px;
    }
    .innerFloatRight h1 {
        font-size: 26px;
    }
    .section-03 .innerSectionLeft .innerFloatRight {
        width: 100%;
    }
    .section-03 .innerSectionLeft .innerFloatRight {
        font-size: 36px;
    }
    input.subscribeEmail {
        width: 65%;
    }
    .donateToUs {
        bottom: 10px;
    }
    .championSection {
        padding: 35px;
    }
    .championSection h2 {
        font-size: 30px;
    }
    .section-02 {
        width: 90%;
        padding: 40px 0px;
    }
    .innerSectionLeft {
        float: none;
        width: 100%;
        padding-left: auto;
    }
    .section-03 .innerSectionLeft {
        padding-left: 0;
    }
    .innerSectionLeft .innerFloatLeft {
        width: 100%;
    }
    .innerSectionLeft h2 {
        font-size: 60px;
    }
    .innerSectionLeft h3 {
        font-size: 36px;
    }
    .innerSectionRight {
        width: 95%;
    }
    .sectionWrapper {
        width: 85%;
    }
    .section-03 {
        padding-top: 40px;
    }
    .section-03 .left-block {
        width: 100%;
        float: none;
        margin: 0 auto 10px;
    }
    .section-03 .right-block {
        width: 100%;
        float: none;
        margin: 0 auto;
    }
    .section-03 .innerTitle {
        width: 100%;
        padding: 20px;
        margin-bottom: 20px;
    }
    .section-03 .innerSectionLeft .innerFloatRight {
        float: right;
    }
    .section-03 .innerSectionLeft h3 {
        font-size: 36px;
        text-align: center;
    }
    .section-03 .imageBlock {
        text-align: center;
    }
    .section-03 .imageBlock a button {
        float: none;
        margin-top: 10px;
    }   
    .eventOverlay {
        padding: 40px 10px 15px;
    }
    .eventOverlay h3 {
        font-size: 16px;
    }
    .eventOverlay p {
        font-size: 13px;
    }
    .socialSquare {
        width: 27%;
    }
    .moreNews a button {
        width: 200px;
    }

    .mediaSection .featuredEvents {
        width: 100%;
    }
    .followUs, .inTheNews {
        width: 100%;
        float: none;
        text-align: center;
    }
    .newsQuote {
        width: 100%;
    }
    .abs_trans_center {
        display: none;
    }

    .getInvolvedSection {
        padding-bottom: 40px;
        background-position: center center;
    }
    .getInvolvedWrapper {
        width: 90%;
        padding: 20px 0 0 0;
    }
    .getInvolvedSection h1 {
        font-size: 40px;
    }
    .getInvolvedSection h3 {
        font-size: 20px;
    }
    .getInvolvedForm p {
        margin-bottom: 15px;
    }
    input.memberSignup {
        margin-top: 10px;
        width:300px;
    }
    .fourCorners {
        padding-top: 15px;
    }
    .fourCorners > div {
        float: none;
        width: 100%;
        border-bottom: 1px solid #E2E2E5;
    }
    .fourCorners > div:first-child,
    .fourCorners > div:last-child {
        border-bottom: 0;
    }
    .fourCorners > div h2 {

    }
    .calendarModule {
        width: 90%;
    }
    .eventScroll > div {
        width: 100%;
    }
    .ourWorkHeader p {
        width: 90%;
        font-size: 22px;
    }
    .videoEmbedSection iframe {
        height: auto;
    }
    .threeBlocks .sectionWrapper > div  {
        float: none;
        width: 100%;
        margin-bottom: 20px;
        border: 0;
    }
    .threeBlocks .sectionWrapper > div p {
        width: 100%;
    }

    .ourWorkWrapper {
        width: 95%
    }
    .introBox .leftBox {
        width: 100%;
        height: 160px;
        float: none;
    }
    .introHeroimage {
        position:relative;
        left:0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .introHeroimage img {
        height: 450px;
    }

    .introHeroimage h1 {
        left:0;
        right: 0;
        font-size: 70px;
        width: 100%;
        text-align: center;
    }
    .introBox .rightBox {
        float: none;
        width: 100%;
        height: auto;
        padding: 10px;
    }
    .ms2Header {
        width: 100%;
    }
    .introBox .rightBox h2 {
        width: 90%;
        font-size: 38px;
    }
    .introBox .rightBox p {
        width: 95%;
    }
    .commBlock {
        width: 100%;
        display: none;
    }
    .col.commMap .mapKey {
        width: 100% !important;
        display: none;
    }
    .mapKey {
        width: 100%;
    }
    .middleSection > div {
        float: none;
    }
    .middleSectionTwo {
        width: 100%;
    }
    .ms2HeaderOverlay {
        top:20px;
    }
    .ms2HeaderOverlay h2 {
        font-size: 34px;
    }

    .middleSectionThree {
        width: 100%;
    }
    .ms3Title {
        float: none;
        width: 100%;
    }
    .ms3Intro {
        float: none;
        width: 100%;
        padding-top: 5px;
        padding-bottom: 20px;
        text-align: center;
    }
    .ms3Intro p {
        width: 85%;
        margin: 0 auto;
    }
    .ms3Intro a {
        font-size: 16px;
    }
    .middleSectionFour .middleWrapper {
        width: 95%;
    }
    .ms4Header {
        float: none;
        width: 100%;
    }
    .ms4Title {
        width: 95%;
    }
    .ms4Title h2 {
        font-size: 38px;
    }
    .councilBtn {
        text-align: center;
    }
    .ms4Content {
        float: none;
        width: 100%;
        text-align: center;
    }
    .ms4Content h3 {
        font-size: 28px;
    }
    .ms4Content p {
        width: 90%;
        margin: 0 auto;
        font-size: 20px;
    }
    .ms4Content a button {
        width: 80%;
        margin: 20px auto 0;
    }
    .donateLeftBlock {
        float: none;
        width: 100%;
        padding: 50px 20px;
    }
    .donateSection {
        height: auto;
        background-image: url('/content/frontend/assets/img/greenOverlay.png') !important;
        background-size: cover;
    }
    .donateLogo {
        margin: 0 auto 40px;
    }
    .donateForm {
        width: 100%;
    }
    .donateRightBlock {
        float: none;
        width: 100%;
        display: none;
    }
    .rightBlockContent {
        top:5%;
        width: 100%;
        text-align: center;
    }
    .rightBlockContent h4 {
        width: 90%;
        margin: 0 auto;
    }
    .rightBlockContent h2 {
        width: 90%;
        margin: 0 auto;
        font-size: 48px;
    }
    .donateRightBlock {
        height: auto;
    }
    .donateRightBlock img.blurredVision {
        height: auto;
    }
    .selectDonation {
        width: 95%;
        margin: 25px auto 0;
    }
    .rightBlockContent h6 {
        width: 95%;
        margin: 0 auto;
        font-size: 12px;

    }
    .loginBlock {
        padding:50px 10px;
        padding-right: 10px;
    }
    .loginForm {
        width: 95%;
    }
    .memberOptions > div {
        width: 100%;
        display: block;
        height: auto;
        margin: 10px auto;
    }
    .spacer {
    height: auto;
    overflow-y: auto;
}
    .getInvolvedForm p.inputText {
        width: 100%;
        display: block;
    }
    .getInvolvedForm p {
        display: block;
        width: 100%;
    }
    input.memberSignup {
        margin: 15px auto;
    }


    img.eqCircleLeft {
        height: 40%;
        top: 35px;
        margin-left: -10px;
    }
    .contentHeaderText {
        float: none;
        width: 100%;
        text-align: center;
    }
    .contentHeaderVisual {
        float: none;
        width: 100%;
    }
    .contentHeaderText h1 {
        font-size: 48px;
    }
    .contentHeaderText h2 {
        width: 100%;
        font-size: 20px;
    }
    .blogHeaderVisual {
        float: none;
        width: 100%;
    }
    .blogHeaderText {
        float: none;
        width: 100%;
    }
    .blogBodyWrapper {
        width: 100%;
        margin-right: 0;
        float: none;
    }
    .blogBlock {
        width: 100%;
        float: none;
        margin-right: 0;
    }
    .blogHeaderText h1 {
        font-size: 42px;
    }
    .blogHeaderText h2 {
        width: 100%;
        font-size: 18px;
    }
    .blogHero {
        height: 450px;
    }
    .blogSidebar {
        width: 100%;
        float: none;
    }
    .innerBlogContent {
        width: 100%;
        margin-left: 0;
        float:none;
    }
    .innerBlogIntro h4 {
        font-size:17px;
    }
    .mediaSection .slider-container {
        float: none;
        width: 100%;
    }
    .getSocial {
        float: none;
        width: 100%;
    }
    .mediaSection .slick-slider {
        margin-right: auto;
    }
    .rsvpModule {
        width: 100%;
    }
    p.submitForm {
        width: 100%;
    }
    .mapIframe iframe {
        height: 300px !important;
    }
    .contactForm {
        width: 90%;
    }
    .contactFormInputs {
        padding: 10px 15px;
    }
    .contactFormInputs textarea {
        height: 150px;
    }
    .blogSpacer {
        height: auto;
    }
    div#leaderBlock {
        float: none;
        width: 100%;
        padding: 20px;
    }
    div#leaderBlock img {
        height: auto !important;
    }
    .contentHeaderVisual h1 {
        font-size: 26px;
    }
    .contentHeader {
        height: auto;
    }
    .contentHeaderVisual p {
        font-size: 17px !important;
        letter-spacing: 1px;
    }
    .officerTable table td {
        font-size: 16px;
    }
    .partnerTitle h2 {
        font-size: 22px;
        padding-left: 0;
        text-align: center;
    }
    .partnerImg {
        width: 100% !important;
    }
    select.memberPreview {
        width: 90%;
    }
    .introBox {
        height: auto;
    }
    .overrideRight {
        float: none !important;
    }
    .introBox .leftBox {
        height: auto;
    }
    .introBox .leftBox img {
        height: auto;
    }
    .partnerLogo {
        width: 80% !important;
    }
    .officerTable ul li {
        width: 100%;
    }
}

@media only screen and (max-width:450px) {
    #piechart {
        width: 350px;
        height: 250px;
    } 
    .blogHero {
        height: 300px;
    }
    .commentBar {
        display: none;
    }
    .blogHeaderText h1 {
        font-size: 24px;
    }

}

div#creditCardIcons > .media {
    background-image: url('../assets/img/creditcards@2x.png');
    background-repeat: no-repeat;
    background-position: 0 -25px;
    width: 40px;
    height: 25px;
    -webkit-background-size: 120px 75px;
    -moz-background-size: 120px 75px;
    background-size: 120px 75px;
    margin-right: 10px;
    margin-left: auto;
    margin-top: 8px;
}
div#creditCardIcons.visa > .media {
    background-position: -40px 0;
    width: 40px;
    height: 25px;
}

div#creditCardIcons.mc > .media {
    background-position: -40px -25px;
    width: 40px;
    height: 25px;
}

div#creditCardIcons.amex > .media {
    background-position: -80px 0;
    width: 40px;
    height: 25px;
}

div#creditCardIcons.disc > .media {
    background-position: -40px -50px;
    width: 40px;
    height: 25px;
}
.label-input_wrapper {
    margin-bottom: 20px;
    position: relative;
}
.label-input_wrapper input#ccnumber {
    padding-right: 65px;

}
div#creditCardIcons {
    position: absolute;
    bottom: 7px;
    /*right: 7px;*/
    width: 58px;
    display: block;
    height: 29px;
    left:312px;
}
.evPaymentFields div#creditCardIcons {
    position: absolute;
    bottom: 14px;
    right: 27px;
    width: 254px;
    display: block;
    height: 29px;
    /*left:312px;*/
}
.getInvolvedForm div#creditCardIcons {
    position: absolute;
    bottom: 13px;
    right: 0px;
    width: 800px;
    display: block;
    height: 29px;
}
.overrideRight {
    float: right !important;
}
