
.icon-edit:before { content: '\e800'; } /* '' */
.icon-trash:before { content: '\e801'; } /* '' */
.icon-eye:before { content: '\e802'; } /* '' */
.icon-mail:before { content: '\e804'; } /* '' */
.icon-ok:before { content: '\e805'; } /* '' */
.icon-clock:before { content: '\e806'; } /* '' */
.icon-desktop:before { content: '\e807'; } /* '' */
.icon-phone:before { content: '\e808'; } /* '' */
.icon-print:before { content: '\e809'; } /* '' */
.icon-floppy:before { content: '\e80a'; } /* '' */
.icon-at:before { content: '\e80b'; } /* '' */
.icon-user:before { content: '\e80c'; } /* '' */
.icon-users:before { content: '\e80d'; } /* '' */
.icon-basket:before { content: '\e80e'; } /* '' */
.icon-wrench:before { content: '\e80f'; } /* '' */
.icon-login:before { content: '\e810'; } /* '' */
.icon-logout:before { content: '\e811'; } /* '' */
.icon-cog:before { content: '\e812'; } /* '' */
.icon-facebook:before { content: '\e813'; } /* '' */
.icon-twitter:before { content: '\e814'; } /* '' */
.icon-instagramm:before { content: '\e815'; } /* '' */
.icon-gplus:before { content: '\e816'; } /* '' */
.icon-linkedin:before { content: '\e817'; } /* '' */
.icon-chart-area:before { content: '\e818'; } /* '' */
.icon-left-open:before { content: '\e819'; } /* '' */
.icon-left-open-mini:before { content: '\e81a'; } /* '' */
.icon-left-open-big:before { content: '\e81b'; } /* '' */
.icon-right-open:before { content: '\e81c'; } /* '' */
.icon-right-open-mini:before { content: '\e81d'; } /* '' */
.icon-right-open-big:before { content: '\e81e'; } /* '' */
.icon-dollar:before { content: '\e81f'; } /* '' */
.icon-up-open:before { content: '\e820'; } /* '' */
.icon-up-open-mini:before { content: '\e821'; } /* '' */
.icon-up-open-big:before { content: '\e822'; } /* '' */
.icon-down-open:before { content: '\e823'; } /* '' */
.icon-down-open-mini:before { content: '\e824'; } /* '' */
.icon-down-open-big:before { content: '\e825'; } /* '' */
.icon-down-dir:before { content: '\e826'; } /* '' */
.icon-up-dir:before { content: '\e827'; } /* '' */
.icon-left-dir:before { content: '\e828'; } /* '' */
.icon-right-dir:before { content: '\e829'; } /* '' */
.icon-plus:before { content: '\e82a'; } /* '' */
.icon-minus:before { content: '\e82b'; } /* '' */
.icon-ok-circled:before { content: '\e82c'; } /* '' */
.icon-cancel-circled:before { content: '\e82d'; } /* '' */
.icon-attention-circled:before { content: '\e82e'; } /* '' */
.icon-arrows-ccw:before { content: '\e82f'; } /* '' */
.icon-help-circled:before { content: '\e830'; } /* '' */
.icon-search:before { content: '\e831'; } /* '' */
.icon-calendar:before { content: '\e832'; } /* '' */